<!-- ~~~~~~~~~~ LEFT TEAM COLUMN START ~~~~~~~~~ -->
  <div class="pbColumn noselect" id="leftTeamColumn">
    <div class="banBox">
      <div class="window banIcon leftBanIcon" id="pick0" ng-class="{nextPick: phase == 0}"><img ng-src="images/godicons/{{selectedGame}}/{{selectedGame}}-{{picks[0]}}.png" ng-show="phase > 0"></div>
      <div class="window banIcon leftBanIcon" id="pick2" ng-class="{nextPick: phase == 2}"><img ng-src="images/godicons/{{selectedGame}}/{{selectedGame}}-{{picks[2]}}.png" ng-show="phase > 2"></div>
      <div class="window banIcon leftBanIcon" id="pick11" ng-class="{nextPick: phase == 11}"><img ng-src="images/godicons/{{selectedGame}}/{{selectedGame}}-{{picks[11]}}.png" ng-show="phase > 11"></div>
    </div>
    <div id="pick4" class="window pickBox leftPickBox" ng-class="{nextPick: phase == 4}"><img ng-src="images/widegodicons/{{selectedGame}}/{{selectedGame}}-W{{picks[4]}}.png" ng-show="phase > 4"></div>
    <div id="pick7" class="window pickBox leftPickBox" ng-class="{nextPick: phase == 7}"><img ng-src="images/widegodicons/{{selectedGame}}/{{selectedGame}}-W{{picks[7]}}.png" ng-show="phase > 7"></div>
    <div id="pick8" class="window pickBox leftPickBox" ng-class="{nextPick: phase == 8}"><img ng-src="images/widegodicons/{{selectedGame}}/{{selectedGame}}-W{{picks[8]}}.png" ng-show="phase > 8"></div>
    <div id="pick13" class="window pickBox leftPickBox" ng-class="{nextPick: phase == 13}"><img ng-src="images/widegodicons/{{selectedGame}}/{{selectedGame}}-W{{picks[13]}}.png" ng-show="phase > 13"></div>
    <div id="pick14" class="window pickBox leftPickBox" ng-class="{nextPick: phase == 14}"><img ng-src="images/widegodicons/{{selectedGame}}/{{selectedGame}}-W{{picks[14]}}.png" ng-show="phase > 14"></div>
  </div>  <!-- ~~~~~~~~~~ leftTeamColumn ~~~~~~~ -->
    
    <!-- ~~~~~~~~~~~ MIDDLE COLUMN START ~~~~~~~~~~ -->
  <div class="pbColumn noselect" id="middleColumn">
    <div class="window" id="statusWindow">
      <select name='gameSelect' ng-model='selectedGame' ng-change="selectGame()">
        <option value='smite'>Smite</option>
        <option value='lol'>League of Legends</option>
        <option value='dota'>Dota 2</option>
      </select>
      <select name='modeSelect' ng-model='selectedMode'>
        <option ng-repeat="mode in gameData.modes" value="{{mode.name}}">{{mode.name}}</option>
      </select>
      <p class='message'>{{message}} {{selectedGame}}<!-- {{initCount}} - {{draftName}} - {{album}} - {{selectedGod}} - {{phase}} - picks: {{picks}} - pickHistory: {{pickHistory}} --> </p>
    </div>
    <div id='filterBox'>
        <span>Search: </span>
        <input name='godNameFilter' ng-model='godSearch.name'/>
        <span>Class: </span>
        <select name='godClassFilter' ng-model='godSearch.class'>
          <option value=''>All</option>
          <option ng-repeat="filter in gameData.filters" value="{{filter}}">{{filter}}</option>
        </select>
      </div>
    <div class="window" id="godsWindow">
      <div class="btn godBox noselect" ng-repeat="god in gods | filter: godSearch" ng-click='selectGod(god.shortname)' ng-class="{ selected: selectedGod == god.shortname , unavailable: picks.indexOf(god.shortname) > -1 }" title="{{god.name}}">
        <img ng-src='/images/godicons/{{selectedGame}}/{{selectedGame}}-{{god.shortname}}.png'>
      </div>
    </div>

    <div class="noselect window" id="buttonWindow">
     <div class="btn btn-warning" id="undoButton" ng-click="undo()"><p>Undo</p></div>
     <div class="btn btn-warning" id="redoButton" ng-click="redo()"><p>Redo</p></div>
     <div class="btn btn-success" id="lockButton" ng-click='pickGod(selectedGod)'><p>Lock</p></div>
     <div class="btn btn-danger" id="resetButton" ng-click="resetBoard()"><p>Clear</p></div>
    </div>

  </div>  <!-- ~~~~~~~~~  end middle column ~~~~~~~~~~ -->

    <!-- ~~~~~~~~ RIGHT TEAM COLUMN START ~~~~~~~~~~ -->
  <div class="pbColumn noselect" id="rightTeamColumn">
    <div class="banBox">
      <div class="window banIcon rightBanIcon" id="pick1" ng-class="{nextPick: phase == 1}"><img ng-src="images/godicons/{{selectedGame}}/{{selectedGame}}-{{picks[1]}}.png" ng-show="phase > 1"></div>
      <div class="window banIcon rightBanIcon" id="pick3" ng-class="{nextPick: phase == 3}"><img ng-src="images/godicons/{{selectedGame}}/{{selectedGame}}-{{picks[3]}}.png" ng-show="phase > 3"></div>
      <div class="window banIcon rightBanIcon" id="pick10" ng-class="{nextPick: phase == 10}"><img ng-src="images/godicons/{{selectedGame}}/{{selectedGame}}-{{picks[10]}}.png" ng-show="phase > 10"></div>
    </div>
    <div id="pick5" class="window pickBox rightPickBox" ng-class="{nextPick: phase == 5}"><img ng-src="images/widegodicons/{{selectedGame}}/{{selectedGame}}-W{{picks[5]}}.png" ng-show="phase > 5"></div>
    <div id="pick6" class="window pickBox rightPickBox" ng-class="{nextPick: phase == 6}"><img ng-src="images/widegodicons/{{selectedGame}}/{{selectedGame}}-W{{picks[6]}}.png" ng-show="phase > 6"></div>
    <div id="pick9" class="window pickBox  rightPickBox" ng-class="{nextPick: phase == 9}"><img ng-src="images/widegodicons/{{selectedGame}}/{{selectedGame}}-W{{picks[9]}}.png" ng-show="phase > 9"></div>
    <div id="pick12" class="window pickBox rightPickBox" ng-class="{nextPick: phase == 12}"><img ng-src="images/widegodicons/{{selectedGame}}/{{selectedGame}}-W{{picks[12]}}.png" ng-show="phase > 12"></div>
    <div id="pick15" class="window pickBox rightPickBox" ng-class="{nextPick: phase == 15}"><img ng-src="images/widegodicons/{{selectedGame}}/{{selectedGame}}-W{{picks[15]}}.png" ng-show="phase > 15"></div>
  </div> <!-- ~~~~~~~~~~  end RightTeamColumn ~~~~~~~ -->