
p{
	margin:0;

}
body {
  margin: auto;
  position:fixed;
  overflow:auto;
}

.pointer-hover:hover{
	cursor:pointer;
}

.btn {
	margin:0;
	padding:0;

	border:.1em solid black;
}

.window {
	border: .2em solid rgba(10,25,25,.7);
	border-bottom:.2em solid rgb(120,130,140);
	color:rgb(180,180,180);
}

.button:active{
	-moz-box-shadow:0px 0px 20px yellow;
	-webkit-box-shadow:0px 0px 20px yellow;
	box-shadow:0px 0px 20px yellow;
}

.wrapper{
  height:100%;
  min-height:550px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: horizontal;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-col{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-box-orient: vertical;
	flex-direction:column;
}

.main-view{
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
/*	width: 20%;                For old syntax, otherwise collapses. */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-box-orient: horizontal;
  flex-direction: row;
  height:100%;
  min-width:800px;
 
}



.pbColumn{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	height:100%;
	-webkit-box-orient: vertical;
	flex-direction: column;

	padding:1em;
	border:.2em solid #2D3B4A;
	min-width:200px;
}


#leftTeamColumn{
	width:37vh;
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/images/bluefire.png');

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#878787+0,000000+75&0+0,1+75 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(135,135,135,0) 0%, rgba(0,0,0,1) 75%), url('/images/bluefire.png'); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(135,135,135,0) 0%,rgba(0,0,0,1) 75%), url('/images/bluefire.png'); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(135,135,135,0) 0%,rgba(0,0,0,1) 75%), url('/images/bluefire.png'); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00878787', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	background-size:100% 100%;
}

#rightTeamColumn{
	width:37vh;
/*	background-color:rgba(125,40,30,.3);*/

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#878787+0,000000+75&0+0,1+75 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(135,135,135,0) 0%, rgba(0,0,0,1) 75%), url('/images/redfire.png'); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(135,135,135,0) 0%,rgba(0,0,0,1) 75%), url('/images/redfire.png'); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(135,135,135,0) 0%,rgba(0,0,0,1) 75%), url('/images/redfire.png'); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00878787', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



	background-size:100% 100%;
}

.blue-team{
	-webkit-box-ordinal-group: 1;  
	-moz-box-ordinal-group: 1;     
	-ms-flex-order: 1;     
	-webkit-order: 1;  
	order: 1;
	
}
.red-team{
	-webkit-box-ordinal-group: 3;  
	-moz-box-ordinal-group: 3;     
	-ms-flex-order: 3;     
	-webkit-order: 3;  
	order: 3;
	
}

#middleColumn {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-box-orient: vertical;
	flex-direction: column;
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
/*	width: 20%;                For old syntax, otherwise collapses. */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	border-left:0;
	border-right:0;
	min-width:480px;
	-webkit-box-ordinal-group: 2;  
	-moz-box-ordinal-group: 2;     
	-ms-flex-order: 2;     
	-webkit-order: 2;  
	order: 2;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#162b49+0,000000+100 */
background: rgb(22,43,73); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(22,43,73,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(22,43,73,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(22,43,73,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#162b49', endColorstr='#000000',GradientType=0 ); /* IE6-9 */




}

.banIcon .pick-tooltip p{
	font-size: 1.3vh;
}

.pickBox .pick-tooltip p{
	font-size: 2.3vh;
	font-family: "Arial Black", Gadget, sans-serif;
}

.pick-tooltip{
	position:absolute;
	width:100%;
	height:100%;

	text-align:center;
}

.pick-tooltip p{
	background-color:rgba(0,0,0,.6);
	position:absolute;
	z-index:10;
	min-width:100%;
	color:rgb(180,180,180);
	
	bottom:0;
}
.pickBox{
	position:relative;
	height:15%;
	margin-top:1vh;
	margin-bottom:1vh;
	text-align:center;
	background-color:rgba(0,0,0,.2);
	overflow:hidden;
	transition: background-color linear 0.3s;

}
.pickBox img{
	transition: all linear 1s;
	width:100%;
	border:none;
}

.phase-indicator{
	position:relative;
	top:50%;
	transform: translateY(-50%);
	margin:0;
	color:white;
	transition: color ease 1s;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align:center;
}
.invis{
	color:black;
	transition: color ease 1s;

}

.pickBox .phase-indicator{
	font-size:3.6vh;
}
.banIcon .phase-indicator{
	font-size:1.2vh;
}
.banBox{
	
	margin-bottom:2vh;
	height:9%;
	width:100%;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-box-orient: horizontal;
	flex-direction: row;
	text-align:center;
}

.banIcon{
	display:inline-block;
	position:relative;
	width:24%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	transition: background-color linear 0.3s;
}

.banIcon img{
	height:100%;
	width:100%;

}


.leftPickBox, .leftBanIcon{
	background-color: rgba(30,40,110,.7);
}
.rightPickBox, .rightBanIcon{
	background-color: rgba(80,30,30, .7);
}
.nextPick {
	-moz-box-shadow:0px 0px 20px yellow;
	-webkit-box-shadow:0px 0px 20px yellow;
	box-shadow:0px 0px 20px yellow;
	background-color:darkgreen;
}

.role-filter-box{
	font-size:.8em;
	margin:0 5px 0 5px;
	padding:0 3px 0 3px;
	text-align:center;
}
.role-filter-box p{

}

/*@media all and (max-width:600px){
	.main-view{
		flex-wrap:wrap;
		min-height:1200px;
	}
	#leftTeamColumn{
		flex-wrap:wrap;
		order:1;
		height:25%;
		width:100%;
		
	}
	#rightTeamColumn{
		flex-wrap:wrap;
		order:2;
		height:25%;
		width:100%;
		
	}
	#middleColumn{
		order:3;
		height:50%;
	}
	.pickBox{
		width:30%;
		height:40%;
	}
	.banBox{
		width:30%;
		height:40%;
	}
}*/
.unavailable{
	opacity: .2;
}

#statusWindow{
	position:relative;

	top: 0;
	background-color:rgba(0,0,0,.2);
	text-align: center;
	font-size:1em;
	color:white;
	font-family: Arial;

}

#statusWindow select {
	background-color:rgb(35,35,35);
}

#game-settings{
	font-size: 2em;
}

.message{
	text-align:center;
	font-size:2em;
}

#godsWindow{
	width:100%;
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
/*	width: 20%;                For old syntax, otherwise collapses. */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	margin-top:1%;
	padding:1%;
	overflow-y:scroll;
	background-color:rgba(0,0,0,.3);
}

.godBox{
	position:relative;
	display:inline-block;
	margin:3px;
	width:78px;
	height:78px;

	border-radius:5px;
	transition: all linear 0.2s;
}
.godBox:hover{
	cursor:pointer;
}
.selected {
	border: 5px outset yellow;
	-moz-box-shadow:0px 0px 20px yellow;
	-webkit-box-shadow:0px 0px 20px yellow;
	box-shadow:0px 0px 20px yellow;
}

.godBox img {
	width:100%;
	height:100%;

}

.god-tooltip{
	position:absolute;
	z-index:10;
	width:100%;
	height:100%;
	opacity:0;
	text-align:center;
	transition: opacity linear 0.2s;
}

.god-tooltip:hover{
	opacity:1;
}
.god-tooltip p{
	background-color:rgba(0,0,0,.6);
	z-index:10;
	min-width:100%;
	color:rgb(180,180,180);
}

#buttonWindow{
	position:relative;
	height:75px;
	width:100%;
	margin-top:2%;
	background-color:rgba(0,0,0,.2);
	text-align:center;
}


#lockButton {
	position:absolute;
	top:10%;
	left:50%;
	height:80%;
	width:120px;
	margin:auto;
	font-size: 2em;
	transform: translateX(-60px);
}

#swapSidesButton{
	position:relative;
	float:left;
}

#randomButton{
	position:relative;
	top:20%;
	height:60%;
	width:100px;
	float:right;
	font-size: 2em;
}
#resetButton{
	position:relative;
	top:20%;
	height:60%;
	width:100px;
	float:right;
	font-size: 2em;
}

#undoButton{
	position:relative;
	top:20%;
	height:60%;
	width:100px;
	float:left;
	font-size: 2em;
}
#redoButton{
	position:relative;
	top:20%;
	height:60%;
	width:100px;
	float:left;
	font-size: 2em;
}


/*
#middleColumn{
	float:left;
}*/

/*#rightTeamColumn{
	float:left;
	display:block;
}*/
/*
#leftTeamColumn{
	float:right;
}*/



#filterBox {
	font-size:1.7em;
	width:100%;
	position:relative;
	margin-top:2px;
	color: lightgrey;
}
#filterBox select, 
#filterBox input,
#filterBox select option {
	background-color:rgb(35,35,35);
}

#filterBox input{
	width:150px;
}

#filterBox select{
}

