
p{
	margin:0;

}
body {
  margin: auto;
  position:fixed;
  overflow:auto;
}

.pointer-hover:hover{
	cursor:pointer;
}

.btn {
	margin:0;
	padding:0;

	border:.1em solid black;
}

.window {
	border: .2em solid rgba(10,25,25,.7);
	border-bottom:.2em solid rgb(120,130,140);
	color:rgb(180,180,180);
}

.button:active{
	-moz-box-shadow:0px 0px 20px yellow;
	-webkit-box-shadow:0px 0px 20px yellow;
	box-shadow:0px 0px 20px yellow;
}

.wrapper{
  height:100%;
  min-height:550px;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-col{
	display:flex;
	flex-direction:column;
}

.main-view{
  flex:1;
  display:flex;
  flex-direction: row;
  height:100%;
  min-width:800px;
 
}



.pbColumn{
	display:flex;
	height:100%;
	flex-direction: column;

	padding:1em;
	border:.2em solid #2D3B4A;
	min-width:200px;
}


#leftTeamColumn{
	width:37vh;
	background-color:rgba(30,40,125,.3);
}

#rightTeamColumn{
	width:37vh;
	background-color:rgba(125,40,30,.3);
}

.blue-team{
	order:1;
	
}
.red-team{
	order:3;
	
}

#middleColumn {
	display:flex;
	flex-direction: column;
	flex:1;
	border-left:0;
	border-right:0;
	min-width:480px;
	order:2;
}

.banIcon .pick-tooltip p{
	font-size: 1.3vh;
}

.pickBox .pick-tooltip p{
	font-size: 2.3vh;
	font-family: "Arial Black", Gadget, sans-serif;
}

.pick-tooltip{
	position:absolute;
	width:100%;
	height:100%;

	text-align:center;
}

.pick-tooltip p{
	background-color:rgba(0,0,0,.6);
	position:absolute;
	z-index:10;
	min-width:100%;
	color:rgb(180,180,180);
	
	bottom:0;
}
.pickBox{
	position:relative;
	height:15%;
	margin-top:1vh;
	margin-bottom:1vh;
	text-align:center;
	background-color:rgba(0,0,0,.2);
	overflow:hidden;
	transition: background-color linear 0.3s;

}
.pickBox img{
	transition: all linear 1s;
	width:100%;
	border:none;
}

.phase-indicator{
	position:relative;
	top:50%;
	transform: translateY(-50%);
	margin:0;
	transition: color ease 1s;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align:center;
}
.invis{
	color:black;
	transition: color ease 1s;

}

.pickBox .phase-indicator{
	font-size:3.6vh;
}
.banIcon .phase-indicator{
	font-size:1.2vh;
}
.banBox{
	
	margin-bottom:2vh;
	height:9%;
	width:100%;
	display:flex;
	flex-direction: row;
	text-align:center;
}

.banIcon{
	display:inline-block;
	position:relative;
	width:24%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	transition: background-color linear 0.3s;
}

.banIcon img{
	height:100%;
	width:100%;

}


.leftPickBox, .leftBanIcon{
	background-color: rgba(30,40,110,.7);
}
.rightPickBox, .rightBanIcon{
	background-color: rgba(80,30,30, .7);
}
.nextPick {
	-moz-box-shadow:0px 0px 20px yellow;
	-webkit-box-shadow:0px 0px 20px yellow;
	box-shadow:0px 0px 20px yellow;
	background-color:darkgreen;
}

.role-filter-box{
	font-size:.8em;
	margin:0 5px 0 5px;
	padding:0 3px 0 3px;
	text-align:center;
}
.role-filter-box p{

}

/*@media all and (max-width:600px){
	.main-view{
		flex-wrap:wrap;
		min-height:1200px;
	}
	#leftTeamColumn{
		flex-wrap:wrap;
		order:1;
		height:25%;
		width:100%;
		
	}
	#rightTeamColumn{
		flex-wrap:wrap;
		order:2;
		height:25%;
		width:100%;
		
	}
	#middleColumn{
		order:3;
		height:50%;
	}
	.pickBox{
		width:30%;
		height:40%;
	}
	.banBox{
		width:30%;
		height:40%;
	}
}*/
.unavailable{
	opacity: .2;
}

#statusWindow{
	position:relative;

	top: 1%;
	background-color:rgba(0,0,0,.2);
	text-align: center;
	font-size:1em;
	color:white;
	font-family: Arial;

}

#statusWindow select {
	background-color:rgb(35,35,35);
}

#game-settings{
	font-size: 2em;
}

.message{
	text-align:center;
	font-size:2em;
}

#godsWindow{
	width:100%;
	flex:1;
	margin-top:1%;
	padding:1%;
	overflow-y:scroll;
	background-color:rgba(0,0,0,.3);
}

.godBox{
	position:relative;
	display:inline-block;
	margin:3px;
	width:78px;
	height:78px;

	border-radius:5px;
	transition: all linear 0.2s;
}
.godBox:hover{
	cursor:pointer;
}
.selected {
	border: 5px outset yellow;
	-moz-box-shadow:0px 0px 20px yellow;
	-webkit-box-shadow:0px 0px 20px yellow;
	box-shadow:0px 0px 20px yellow;
}

.godBox img {
	width:100%;
	height:100%;

}

.god-tooltip{
	position:absolute;
	z-index:10;
	width:100%;
	height:100%;
	opacity:0;
	text-align:center;
	transition: opacity linear 0.2s;
}

.god-tooltip:hover{
	opacity:1;
}
.god-tooltip p{
	background-color:rgba(0,0,0,.6);
	z-index:10;
	min-width:100%;
	color:rgb(180,180,180);
}

#buttonWindow{
	position:relative;
	height:75px;
	width:100%;
	margin-top:2%;
	background-color:rgba(0,0,0,.2);
	text-align:center;
}


#lockButton {
	position:absolute;
	top:10%;
	left:50%;
	height:80%;
	width:120px;
	margin:auto;
	font-size: 2em;
	transform: translateX(-60px);
}

#swapSidesButton{
	position:relative;
	float:left;
}

#randomButton{
	position:relative;
	top:20%;
	height:60%;
	width:100px;
	float:right;
	font-size: 2em;
}
#resetButton{
	position:relative;
	top:20%;
	height:60%;
	width:100px;
	float:right;
	font-size: 2em;
}

#undoButton{
	position:relative;
	top:20%;
	height:60%;
	width:100px;
	float:left;
	font-size: 2em;
}
#redoButton{
	position:relative;
	top:20%;
	height:60%;
	width:100px;
	float:left;
	font-size: 2em;
}


/*
#middleColumn{
	float:left;
}*/

/*#rightTeamColumn{
	float:left;
	display:block;
}*/
/*
#leftTeamColumn{
	float:right;
}*/



#filterBox {
	font-size:1.7em;
	width:100%;
	position:relative;
	margin-top:2%;
	color: lightgrey;
}
#filterBox select, 
#filterBox input,
#filterBox select option {
	background-color:rgb(35,35,35);
}

#filterBox input{
	width:150px;
}

#filterBox select{
}

